@using EntityLayer.Concrete
@model dynamic
@{
    ViewData["Title"] = Model.Gettopic.TopicTitle;
    Layout = "~/Views/Shared/_UIForumLayout.cshtml";
}


<style>
   
</style>
@if (Model.UserGiris)
{
    <partial name="../_PartialLogin.cshtml" />

}
else
{
    <partial name="../_PartialSign.cshtml" />

}

<div class="card shadow-sm bg-body mt-5">
    <div class="card-header">
        <h1 class="display-6">@Model.Gettopic.TopicTitle</h1>
        <h1 class="display-6">@ViewBag.test</h1>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Oluşturma Tarihi : @Model.Gettopic.TopicsDate</li>
        <li class="list-group-item">Kategori :@Model.Gettopic.Category.CategoryName </li>
        <li class="list-group-item">Cevap Sayısı :@Model.GetPostCount</li>
        <li class="list-group-item">
            <a href="#PostContent" class="btn btn-primary"><i class="bi bi-chat-left-dots"></i> Cevap Yaz</a>
            <a href="#" class="btn btn-warning"><i class="bi bi-exclamation-triangle"></i> Konuyu Şikayet Et</a>
            <a href="#" class="btn btn-primary text-light" style="background-color:#035AA6 !important;">
                <i class="bi bi-e"></i>Öne Çıkar
            </a>
        </li>
    </ul>
</div>
<div class="row row-cols-2 mt-3 mb-3 ">

    <div class="col-8">

        @foreach (var Itempost in Model.Getpost)
        {
            <div class="card mb-3 commentcard">
                <div class="card-header">
                    <i class="bi bi-person-circle"></i>
                    <span class="text-center">@Itempost.AppUser.UserName</span>
                    <span class="badge bg-primary">Moderatör</span>
                    <span class="badge bg-warning">Yönetici</span>
                    <span class="badge bg-info">Üye</span>

                    @{
                        var test = Itempost.Topic.AppUserId == Itempost.AppUserId ? true : false;
                    }
                    @if (test)
                    {
                        <span class="badge bg-success float-end rounded-0">
                            Konuyu Açan<i class="bi bi-check2-all"></i>
                        </span>
                    }

                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">@Html.Raw(@Itempost.PostContent) </p>
                    <a href="#" class="btn btn-primary float-end mx-1"><i class="bi bi-chat-left-dots"></i></a>
                    <a href="#" class="btn btn-warning float-end mx-1"><i class="bi bi-exclamation-triangle"></i></a>
                </div>
            </div>
        }

        <div class="row mt-5">
            <div class="col-12">
                <h2>Cevap Yaz</h2>
            </div>
            <div class="col-12" id="PostContent">
                @if (!Model.UserGiris)
                {
                    <a  class="btn btn-primary float-end m-1" href="~/Giris">Mesaj Göndermek İçin Giriş Yap</a>

                }
                else
                {
                    <form method="post" asp-action="Message">
                        @Html.Hidden("AppUserId", (string)Convert.ToString(Model.GetUserId))
                        @Html.Hidden("TopicID", (string)Convert.ToString(Model.Gettopic.TopicID))

                        <textarea class="ckeditor mt-5" name="PostContent" id="PostContent"></textarea>
                        <button type="submit" class="btn btn-primary float-end m-1">Gönder</button>
                    </form>
                }
              
            </div>
        </div>

        <!-- Buraya kadar istediğiniz kadar buton ve içerik ekleyebilirsiniz -->
        <script>
            CKEDITOR.replace('PostContent'), {
                customConfig: "/ckeditor/config.js"

            };
        </script>
        <script>
            function gosterGizle(divId) {
                var div = document.getElementById(divId);
                if (div.style.display === "none") {
                    div.style.display = "block";
                } else {
                    div.style.display = "none";
                }
            }
        </script>

    </div>
    <div class="col-md-4 col-xl-4 col-sm-12">
        <div class="card mb-3 commentcard text-center">
            <div class="card-header">
                En Popüler Konular
            </div>

            @foreach (var item in Model.MostVotedTopic)
            {
                <div class="pos-relative">
                    <h6 class="text-primary text-sm">
                        <a href="~/Konu/@UrlExtension.FriendlyUrl(item.TopicTitle)/@item.TopicID" class="text-primary">@item.TopicTitle</a>
                    </h6>
                    <p class="mb-0 text-sm">
                        @item.TopicVotes Kişi Beğendi
                    </p>
                </div>
                <hr class="m-0">
            }
        </div>
    </div>
</div>

