@using EntityLayer.Concrete
@model dynamic

@{

}
<div class="container-md shadow-sm bg-body mt-5">
    @if (Model.UserGiris)
    {
        <partial name="../_PartialLogin.cshtml" />

    }
    else
    {
        <partial name="../_PartialSign.cshtml" />

    }

    <div class="row d-none d-md-block altmenu">
        <ul class="nav">
            @foreach (var category in Model.category)
            {
                <li class="nav-item">
                    <a class="nav-link" href="~/anasayfa/@UrlExtension.FriendlyUrl(category.CategoryName)/@category.CategoryID">@category.CategoryName</a>
                </li>
            }
        </ul>

    </div>

</div>
<div class="row">

    <div class="col-lg-9 mb-3">
        <div class="row text-left mb-5">
            <div class="col-lg-6 mb-3 mb-sm-0">
                <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50"
                     style="width: 100%;">
                    <select class="form-control rounded-0" onchange="sendSelectedValue()" id="optionSelect">
                            <option> Kategoriler </option>
                            <option> Hepsi </option>

                            @foreach (var category in Model.category)
                            {

                                <option value="@UrlExtension.FriendlyUrl(category.CategoryName)/@category.CategoryID">  @category.CategoryName  </option>
                            }
                        </select>
                    <script>
                        function sendSelectedValue() {
                            var selectedValue = document.getElementById("optionSelect").value;
                            window.location.href = "/anasayfa/" + selectedValue;
                        }
                    </script>
                </div>
            </div>
            <div class="col-lg-6 text-lg-right">
                <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50"
                     style="width: 100%;">
                    <form method="get" action="default"  class="d-flex" role="ara">
                        <input class="form-control me-2 rounded-0" type="search" placeholder="Konu Ara" name="ara" id="ara" aria-label="Search">
                        <button class="btn btn-primary rounded-0" style="background-color: #035AA6;" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>

                </div>
            </div>
        </div>
        @foreach (var topic in Model.NewestTopic)
        {
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="~/Konu/@UrlExtension.FriendlyUrl(topic.TopicTitle)/@topic.TopicID" class="text-primary">@topic.TopicTitle</a>
                        </h5>
                        <p class="text-sm">
                            <span class="op-6">Göneri Tarihi</span>
                            <a class="text-black" href="#">
                                @{
                                    var topicDate = Convert.ToDateTime(topic.TopicsDate);
                                    var timeDifference = DateTime.Now - topicDate;
                                    var formattedTime = "";

                                    if (timeDifference.Days > 0)
                                    {
                                        formattedTime = $"{timeDifference.Days} gün ";
                                    }

                                    if (timeDifference.Hours > 0)
                                    {
                                        formattedTime += $"{timeDifference.Hours} saat ";
                                    }

                                    if (timeDifference.Minutes > 0)
                                    {
                                        formattedTime += $"{timeDifference.Minutes} dakika ";
                                    }

                                    formattedTime += "önce";
                                }
                                @formattedTime
                            </a>

                            <span class="op-6">Kullanıcı Adı</span> <a class="text-black"
                                                                       href="#"> @*topic.AppUser.Name*@</a>

                        </p>
                        <div class="text-sm op-5">
                            Kategori :
                            <a class="text-black mr-2" href="~/anasayfa/@UrlExtension.FriendlyUrl(topic.Category.CategoryName)/@topic.Category.CategoryID">@topic.Category.CategoryName</a>
                        </div>
                    </div>
                    <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                            <div class="col px-1">
                                <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">@topic.TopicVotes Oy</span>
                            </div>
                            <div class="col px-1">
                                <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">@await Component.InvokeAsync("PostMessage",new{topicid=topic.TopicID})</span>
                            </div>
                            <div class="col px-1">
                                <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">@topic.TopicView</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }





    </div>

    <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0 mt-lg-0">
        <div style="visibility: hidden; display: none; width: 285px; height: 801px; margin: 0px; float: none; position: static; inset: 85px auto auto;">
        </div>
        <div data-settings="{&quot;parent&quot;:&quot;#content&quot;,&quot;mind&quot;:&quot;#header&quot;,&quot;top&quot;:10,&quot;breakpoint&quot;:992}"
             data-toggle="sticky" class="sticky" style="top: 85px;">
            <div class="sticky-inner">

                <div class="bg-white mb-3">
                    <h4 class="px-3 py-4 op-5 m-0">
                        En Çok Konuşulan Konular
                    </h4>

                    <hr class="m-0">
                    @foreach (var item in Model.MostVotedTopic)
                    {

                        <div class="pos-relative px-3 py-3">
                            <h6 class="text-primary text-sm">
                                <a href="~/Konu/@UrlExtension.FriendlyUrl(item.TopicTitle)/@item.TopicID" class="text-primary">@item.TopicTitle</a>
                            </h6>
                            <p class="mb-0 text-sm">
                            <p class="text-black">@item.TopicVotes Kişi Beğendi</p>
                            </p>
                        </div>
                        <hr class="m-0">
                    }



                    <hr class="m-0">
                </div>
                <div class="bg-white text-sm">
                    <h4 class="px-3 py-4 op-5 m-0 roboto-bold">
                        İstatistik
                    </h4>
                    <hr class="my-0">
                    <div class="row text-center d-flex flex-row op-7 mx-0">
                        <div class="col-sm-6 flex-ew text-center py-3 border-bottom border-right">
                            <a class="d-block lead font-weight-bold" href="~/default">@Model.istatistik</a> Konular
                        </div>
                        <div class="col-sm-6 col flex-ew text-center py-3 border-bottom mx-0">
                            <a class="d-block lead font-weight-bold" href="~/default">@Model.postSayisi</a> Gönderiler
                        </div>
                    </div>
                    <div class="row d-flex flex-row op-7">
                        <div class="col-sm-6 flex-ew text-center py-3 border-right mx-0">
                            <a class="d-block lead font-weight-bold" href="~/default">@Model.userSayisi</a> Üyeler
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
